.custom-shape-divider-bottom-1733592322 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
 }
 
 .custom-shape-divider-bottom-1733592322 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 47px;
 }
 
 .custom-shape-divider-bottom-1733592322 .shape-fill {
  fill: #dfacdc;
 }
 .custom-shape-divider-top-1734048447 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1734048447 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 106px;
}

.custom-shape-divider-top-1734048447 .shape-fill {
  fill: #aa72a7e3;
}

@media (max-width: 600px){
  h2{
    font-size: 5vh;
  }
  /*Barra de inicio*/
  header{
    padding-top: 5px;
  }
  .banner-logo{
    height: 65px;
  }
  .logo img{
    height: 60px;
  }
  .form-inline{
    display: none;
  }
  .navbar{
    display: none;
  }
  /*banner inicio*/
  .banner-inicio {
    overflow: hidden;
  }
  .text-banner{
    margin-top: 20px;
    margin-right: 8px;
    width:40% ;
    box-shadow: 5px 5px 40px rgb(0, 0, 0);
  }
  .text-banner h3{
    font-size: 1.2vh;
  }
  .text-banner p{
    font-size:1vh;
    margin: 0;
  }
  /*Seccion Libros-Autora*/

  .section-libros h4{
    font-size: 2.2vh;
  }
  .contenedor-autora{
    display: flex;
    flex: none;
    margin-top: 5px;
    
  }
  .autora{
    width: 90%;
  }
  .autora img{
    width: 150px;
  }
  .text-autora{
    text-align: justify;
    width: 50%;
    font-size: 1vh;
    padding: 3%;
    border-radius: 20px;
  }
  
}