.custom-shape-divider-bottom-1733592322 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
 }
 
 .custom-shape-divider-bottom-1733592322 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 47px;
 }
 
 .custom-shape-divider-bottom-1733592322 .shape-fill {
  fill: #dfacdc;
 }
 .custom-shape-divider-top-1734048447 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1734048447 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 106px;
}

.custom-shape-divider-top-1734048447 .shape-fill {
  fill: #aa72a7e3;
}

